.styled-button {
    -fx-background-color: #efefef;
    -fx-text-fill: #222;
    -fx-background-radius: 40;
    -fx-border-radius: 40;
    -fx-border-color: transparent;
    -fx-font-family: "Teko Bold";
    -fx-font-size: 22px;
}

.bonus-title {
    -fx-font-family: "Teko Bold";
    -fx-font-size: 48px;
    -fx-text-fill: white;
}
